<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Art Decor - Noticias</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
    <div class="head">
        <img src="/static/img/logo.jpg" alt="logo" class="logotipo">
        <h1 class="empresa">ART DECOR</h1>
        <nav class="navbar">
            <a href="/">Inicio</a>
            <a href="/quienessomos">Quiénes Somos</a>
            <a href="/servicios">Servicios</a>
            <a href="/noticias">Noticias</a>
            <a href="/contacto">Contacto</a>
        </nav>
    </div>

    <section class="content sau">

        <h1 class="Clientess">NOTICIAS</h1>
        <div class="news-container">
            <div class="news-box">
                <img src="/static/img/noticia1.jpg" alt="Noticia 1" class="news-image">
                <h2 class="news-title">Inauguración de Nueva Tienda en el Centro</h2>
                <p class="news-description">Nos complace anunciar la apertura de nuestra nueva tienda en el centro de la ciudad, donde ofrecemos una amplia gama de productos de decoración para tu hogar.</p>
            </div>
            <div class="news-box">
                <img src="/static/img/noticia2.jpg" alt="Noticia 2" class="news-image">
                <h2 class="news-title">Lanzamiento de la Colección de Otoño</h2>
                <p class="news-description">Descubre nuestra nueva colección de otoño con tendencias cálidas y acogedoras para esta temporada. ¡Renueva tu hogar con estilo!</p>
            </div>
            <div class="news-box">
                <img src="/static/img/noticia3.jpg" alt="Noticia 3" class="news-image">
                <h2 class="news-title">Taller de Decoración Sostenible</h2>
                <p class="news-description">Únete a nuestro taller de decoración sostenible y aprende a decorar tu hogar con materiales amigables con el medio ambiente.</p>
            </div>
        </div>
    </section>
</body>
</html>
