<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EMERGENTES</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='/css/style.css')}}">
</head>
<body>
    <div class="head">
       
        <img src="/static/img/logo.jpg" alt="logo" class="logotipo">
        <h1 class="empresa">ART DECOR</h1>
        
       <nav class ="navbar">
        <a href="/">Inicio</a>
        <a href="/quienessomos">Quienes somos</a>
        <a href="/servicios">Servicios</a>
        <a href="/noticias">Noticias</a>
        <a href="/contacto">Contacto</a>
       </nav>
    </div>
    <section class="content qss">
        <h1 class="Clientess"> QUIENES SOMOS</h1>
        <p class="equipo">
            Art Decor nacio en 2015 con el sueño de transformar espacios en verdaderos hogares. Lo que comenzo 
            como un pequeño proyecto se ha convertido en una empresa de decoracion de referencia, 
            gracias a nuestra pasion por el diseño y la satisfaccion de nuestros clientes. 
        </p>
        <h1 class="Clientess">Nuestra Mision</h1>
        <p class="equipo">
            Ofrecer soluciones de decoración personalizadas que inspiren y eleven el bienestar en cada hogar.
        </p>
        <h1 class="Clientess">Nuestra Vision</h1>
        <p class="equipo">
            Ser líderes en el mercado de decoración del hogar, brindando innovación y calidad para que cada cliente encuentre su estilo ideal.
        </p>
        <h1 class="Clientess">Conoce a Nuestro Equipo</h1>
        <p class="equipo">
            Contamos con un equipo talentoso y apasionado que trabaja día a día para ofrecerte lo mejor en decoración. ¡Conócelos!
        </p>
    </section>
    <section class="content qss">
        <div class="box-container2">
            <div class="box">
                <img src="/static/img/E1.jfif" alt="">
                <h3>Carlos Méndez</h3>
                <p>Especialista en Decoración</p>
            </div>
            <div class="box">
                <img src="/static/img/E2.jfif" alt="">
                <h3>Laura González</h3>
                <p>Diseñadora de Interiores</p>
            </div>
            <div class="box">
                <img src="/static/img/E3.jpg" alt="">
                <h3>Andres Salazar</h3>
                <p>Consultor de Estilo</p>
            </div>
        </div>
    </section>
    
    
</body>
</html>