<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Art Decor - Nuestros Servicios</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
    <div class="head">
        <img src="/static/img/logo.jpg" alt="logo" class="logotipo">
        <h1 class="empresa">ART DECOR</h1>
        <nav class="navbar">
            <a href="/">Inicio</a>
            <a href="/quienessomos">Quiénes Somos</a>
            <a href="/servicios">Servicios</a>
            <a href="/noticias">Noticias</a>
            <a href="/contacto">Contacto</a>
        </nav>
    </div>
    <section class="content sau"> <br><br>
        <h1 class="Clientess">NUESTROS SERVICIOS</h1>
        <div class="box-container">
            <div class="boxr">
                <i class="fa-solid fa-ruler-combined redes" style="font-size: 50px; color: #4CAF50;"></i>
                <h2 class="lredes">Diseño de Interiores Personalizado</h2>
                <p>Asesoría personalizada para crear espacios únicos que reflejen el estilo y las necesidades de cada cliente. Incluye propuestas de diseño, selección de colores, muebles y decoración.</p>
            </div>
            <div class="boxr">
                <i class="fa-solid fa-couch redes" style="font-size: 50px; color: #FF5722;"></i>
                <h2 class="lredes">Instalación de Decoración y Mobiliario</h2>
                <p>Servicio de montaje e instalación de elementos decorativos y muebles en el hogar, asegurando que cada detalle esté en su lugar y cumpla con los estándares de calidad.</p>
            </div>
            <div class="boxr">
                <i class="fa-solid fa-lightbulb redes" style="font-size: 50px; color: #FFC107;"></i>
                <h2 class="lredes">Asesoramiento en Tendencias de Decoración</h2>
                <p>Consultoría especializada sobre las últimas tendencias en decoración, ayudando a los clientes a actualizar sus espacios con estilo y funcionalidad actuales.</p>
            </div>
        </div>
    </section>
</body>
</html>
